<html>
	<head>
		<title>News Engine</title>
		<link rel='stylesheet' href={{ url_for("static", filename='style.css') }} />
	</head>
	<body>
		<center class="search">
			<h1>News Engine</h1>
				<form action='/search' method="GET" class="form">
					<input type="text" name="query" class="search-query"
					/>			
					<input type="image" src={{ url_for('static', filename='images/search-icon.png') }} alt="Submit" width="50" height="50" class="search-icon"/>
				</form>
			</div>
		</center>
	
	</body>
</html>